.fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #007bff;
  background-color: #fff;
  color: #007bff;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fab:hover {
  background-color: #007bff;
  color: #fff;
}

.modal-dialog {
  margin: 20% auto;
}
